*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: xx-large;
    text-align: center;
}

nav{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 152, 0);
    margin: 10px 300px;
}
nav p{
    text-align: center;
    color:aqua;
    font-size: large;
    padding: 0px 15px 0px 15px;
    font-weight: bold;
}
nav p span{
    padding: 0px 20px 0px 20px;
}

body{
    background-color: rgb(0, 255, 21);
    color:black;
    font-family: 'Quicksand', sans-serif;
}
main figure{
    text-align: center;
    mask-size: 50px 50px;
}
main h2{
    text-align: center;
}
